*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    color: #ffffff;
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

/* Header */
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 109px;
    align-items: center;
}

.header-link {
    font-family: 'Circe', sans-serif;
    font-size: 400;
    color: #E4B564;
    font-size: 18px;
    line-height: 1.67;
    padding: 10px 25px 10px 49px;
    border: 1px solid #E4B564;
    position: relative;
}

.header-link::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    left: 25px;
    background-image: url("../img/icon_phone.png");
}

a {
    text-decoration: none;
}

/* main */
h2 {
    font-size: 50px;
}

/* Works */

.works-text {
    font-size: 20px;
    line-height: 1.4;
    margin: 41px auto;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(6, 222px);
    grid-template-rows: repeat(2, 468px);
    gap: 25px;
    margin-bottom: 161px;
}

.work{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work:nth-child(1){
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
}

.work:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
}

.work:nth-child(3) {
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
}

.work:nth-child(4) {
    grid-area: 2/ 1 / 3/ 4;
    background-color: #635A4A;
}

.work:nth-child(5) {
    grid-area: 2/ 4 / 3/ 7;
    background-color: #B08C4D;
}

/* Technics */

.technics-grid {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: repeat(6, 150px);
    gap: 30px;
    margin: 94px auto 192px;
}

.technic {
    width: 100%;
    height: 100%;
    font-weight: 500;
}

.technic:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #0E0E0E;
}

.technic:nth-child(2) {
    grid-area: 1 / 2 / 4 / 3;
    background-color: #242424;
}

.technic:nth-child(3) {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #1F1F1F;
}

.technic:nth-child(4) {
    grid-area: 3 / 1 / 7 / 2;
    background-color: #1F1F1F;
}

.technic:nth-child(5) {
    grid-area: 4 / 2 / 7 / 3;
    background-color: #E4B564;
    color: #000000;
}

.technic:nth-child(6) {
    grid-area: 3 / 3 / 5 / 4;
    background-color: #0E0E0E;
}

.technic:nth-child(7) {
    grid-area: 5 / 3 / 7 / 4;
    background-color: #0A0909;
}



/* Clients */

.clients{
    background-color: #0E0E0E;
    padding-top: 150px;
}

.clients-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.clients-link{
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-size: 400;
    color: #E4B564;
    font-size: 18px;
    line-height: 1.67;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.clients-items{
    display: flex;
    flex-wrap: wrap;  
}

.item {
    width: 486px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-item p{
    color:#FFFFFF;
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
    text-decoration: none;
    margin: 10px 80px 61px;
}

/* Footer */

footer{
    height: 200px;
}



